body {
  margin: 0;
  font-family: sans-serif;
  background: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  transition: background 0.5s ease-in-out;
}

.container {
  padding: 20px;
}

.sunflower-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.sunflower-emoji {
  font-size: 10rem;
  line-height: 1;
}

.fa{
  margin: 20px;
}

footer{
  color: #ffffff;
  
}